<!DOCTYPE html>
<html lang="en">
<head>    <%- include('partials/iconosFonts.ejs')%>
    <%- include('partials/bootstrap.ejs')%>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navegacion.ejs')%>
    <div class="container-fluid container-habilidades " style="margin-top: 5rem;"">
        <h2 class="text-primary fs-1 titulo-habilidades"><i class="fa-solid fa-screwdriver-wrench icon-subtitulo"></i>Tecnologias</h2>    
        <p class="info-sobremi fw-semibold">En esta sesion puedes observar cada una de las tecnologias que manejo hasta el momento.</p>
        <div class="container-habilidad">
            <div class="habilidad">
                <i class="fa-brands fa-python  icon-habilidad "></i>
                <h3 class="text-habilidades fs-5 habilidades"></i>PYTHON</h3>    
            </div>
            <div class="habilidad">
                <i class="fa-brands fa-java  icon-habilidad"></i>
                <h3 class=" text-habilidades fs-5 habilidades"></i>JAVA</h3>    
            </div>
            <div class="habilidad">
                <i class="fa-brands fa-html5 icon-habilidad"></i>
                <h3 class=" text-habilidades fs-5 habilidades"></i>HTML</h3>    
            </div>
            <div class="habilidad">
                <i class="fa-brands fa-node-js icon-habilidad"></i>
                <h3 class=" text-habilidades fs-5 habilidades"></i>NODE.JS</h3>    
            </div>
            <div class="habilidad">
                <i class="fa-brands fa-css3-alt icon-habilidad"></i>
                <h3 class=" text-habilidades fs-5 habilidades"></i>CSS</h3>    
            </div>
           
            <div class="habilidad">
                <i class="fa-brands fa-js icon-habilidad"></i>
                <h3 class=" text-habilidades fs-5 habilidades"></i>JAVASCRIPT</h3>    
            </div>
        </div>
       
            
       

    </div>
</body>
</html>