<!DOCTYPE html>
<html lang="en">
<head>
  
    <%- include('partials/iconosFonts.ejs')%>
    <%- include('partials/bootstrap.ejs')%>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navegacion.ejs')%>
    
    <div class="container container-index" style="margin-top: 5rem;">
      <div class="container-texto-index">
        <h1 class="text-primary fw-bold">SOY JAVIER DAVID MUÑOZ DIAZ</h1>
        <p class="fw-bold">Un programador junior, con muchas ganas de aprender.</p>
        <p class="fw-bold">Te invito visitar la sesion proyectos.</p>
      </div>

      <img src="/img/pchhh.png" class="img-index"alt="">
              
    </div>
</body>
</html>