<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/iconosFonts.ejs')%>
    <%- include('partials/bootstrap.ejs')%>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navegacion.ejs')%>
    <div class="container-fluid container-habilidades " style="margin-top: 5rem;"">
        <h2 class="text-primary fs-1 titulo-habilidades"><i class="fa-solid fa-screwdriver-wrench icon-subtitulo"></i>Proyectos</h2>    
        <p class="info-sobremi fw-semibold">En cada una de estas tarjetas podras observar proyectos de mi autoria.</p>
        <div class="container-habilidad">
            <div class="card" style="width: 18rem;">
                <img src="img/Screenshot_7.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Pagina de presentacion.</h5>
                  <p class="fw-semibold card-text">En este proyecto se puede observar el uso de las tecnologias node.js, css, bootstrap, JavaScript y html</p>
                  <a href="https://github.com/Javierdiaz1386/cvjavier" target="_blank" class="btn btn-primary">Repositorio</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="img/okoks.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Lorem </h5>
                  <p class="card-text fw-semibold">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, officia labore dolores amet adipisci dolor quis optio tempore. Consequatur, ducimus! Ipsa doloribus libero, necessitatibus sed maxime quia ut tempora quas.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
</body>
</html>