<nav class="navbar fixed-top navbar-expand-lg bg-primary" ;">
    <div class="container-fluid ">
      <a class=" nav-a navbar-brand" href="/"><i class="icon-nav fa-solid fa-laptop-code"></i>Desarrollador Web</a>
      <button class="icon-nav-optios navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class=" navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto" >
          <a class=" nav-a nav-link active" aria-current="page" href="/">Inicio</a>
          <a class="nav-a nav-link" href="/sobre_mi">Sobre Mi</a>
          <a class="nav-a nav-link" href="/habilidades">Habilidades</a>
          <a class="nav-a nav-link" href="/proyectos">Proyectos</a>
        </div>
      </div>
    </div>
  </nav>